.page {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.image {
  width: 60vw;
  max-width: 300px;
  height: auto;
}

.homeLink {
  background-color: var(--orange);
  color: white;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  font-weight: bold;
  margin-top: 1rem;
  display: inline-block;
  transition: transform 0.3s ease;
}

.homeLink:hover {
  transform: scale(1.05);
}